/**
 * Paper Card (pseudo)
 */

.card
	display: block
	position: relative
	background: $white
	border-radius: 2px
	margin: 0 0 $base-spacing/2
	padding: $base-spacing
	@extend %shadow

	h2
		margin-bottom: $base-spacing
